# Ignore everything except for...
*.*

# Git files
!.gitignore
!*.md

# Documenation
!docs/
!*.pdf
!*.pptx
!*.xlsx

# Data
!data/harvard_sentences/
!data/Test_Data/
!data/Training_Data/
!*.wav
!*.png

# Matlab
!matlab/
!*.m

# report files:
!img/

# Video Recording
!video/
!*.mp4